* {
  font-size: 10px;
}
h1,
h2,
h3 {
  position: relative;
  display: inline-block;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  margin: 2px 0px 4px 0px;
  letter-spacing: 1px;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 12px;
}
#container {
  margin: 5px;
}
#titlebar {
  padding: 20px 10px 20px 10px;
  background: #ddd;
}
#titlebar h1 span {
  color: #00f;
}
#myCanvas {
  background: #f00;
}
#myFrame {
  width: 800px;
  height: 600px;
}
